



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* banner */
.banner {
  background-image: url("./img/images/banner-2.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFA500;
  text-align: center;
  z-index: 1;
} 

.banner::after{
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: rgba(221, 160, 221, 0.421);
}

#text-banner{
  color:white;
  font-size: 2rem;
}

/* end banner */


/* content-left */
.content-left{
  width: 20%;
  padding: 15px;
  line-height: 40px;
}

/* content-right */

.content-right {
  max-width: 80%;
  margin-top: -735px;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
}


/* select option */
.select-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  border-radius: 2px;
  border: 0.5px solid;
  background-color: #fff;
  min-width: 200px;
  padding: 12px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(153, 153, 153, 0.2);;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 1.4rem;
  color: #333;
}

.select-input__list {
  display: none;
  position: absolute;
  list-style: none;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 1px 4px #ededed;
  animation: fadeIn linear .1s;
}

.select-input__list:after {
  width: 100%;
  left: 0;
  top: -2px;
  height: 3px;
}

.select-input__list-item {
  margin-left: 8px;
}

.select-input__list-item-link {
  text-decoration: none;
  display: block;
  color:#333;
  font-size: 1.4rem;
  padding: 8px;
}

.select-input__list-item-link:hover {
  color: #f63f2e;
}

.course{
  display: flex;
  align-items: center;
}

/* end select option */


/* tablet */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

button {
  margin-left:-12px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }



@media (max-width: 740px)
{

.texttt{
  font-size: 1rem;
}
#text-bannerr{
  font-size: 1.5rem;
}

#text-banner{
  font-size: 1rem;
}


.inner-wrapper {
         margin-left: -100px;
         
}
  
  .content-right {
    max-width: 80%;
  margin-top: -3px;
  margin-left: 83px;
  display: flex;
  justify-content: space-between;
  }
  #text-banner {
      margin-left: 20px;
  }

  .select-input {
      width:100px;
  }
  
  .select-input__label{
      font-size: 1rem;
  }


@media (min-width: 729px ) and (max-width:1023px) {
      .content-right {
          max-width: 80%;
          margin-top: -707px;
          margin-left: 165px;
          display: flex;
          justify-content: space-around;
      }
  }
  



  @media (min-width:1024px) {
    
      .content-right{
          max-width:80%;
          margin-top:-855px;
          margin-left: 300px;
          display: flex;
          justify-content: space-around;
        }
      
  }

  /* @media (max-width:534px) {
      .content-right {
          max-width: 80%;
          margin-top: -1841px;
          margin-left: 165px;
          display: flex;
          justify-content: space-around;
      }
  } */
}

/* courser-list */
.price{
  position: absolute;
  background-color: white;
  width: 130px;
  height: 35px;
  margin-top: -5px;
  color:orange;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
  z-index: 1;
  border-top-right-radius: 5px; 
  border-bottom-left-radius: 4px;
}

.inner-wrapper {
display: flex;
flex-wrap: wrap;
width: 80%; 
margin-left: 211px;
margin-top: 110px;
height:500px;
}
.card {
position: relative;
margin: 10px 0;
flex-basis: 30%;
padding-top: 10px;
margin-left:15px;
border: 1px solid;   
border-bottom-right-radius: 5px; 
border-bottom-left-radius: 5px; 
}

.inner-card  {
margin-top:-20px ;
background-color: #fff;
padding: 15px;
box-shadow: 0 1px 2px rgba(0,0,0,.1);

}
.img-wrapper {  
 left: 0;
right: 0;
position: absolute;
width: 100%;
height: 150px;
margin-bottom: 2  0px;
}
.img-wrapper img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px; 
border-bottom-left-radius: 10px;
}
.content {
margin-top:155px;
margin-left:-3px;
}
.content h1 {
font-weight: 900;
font-size: 16px;
margin-bottom: 10px;
color: #444;
}
.content p {
font-size: 14px;
line-height: 1.5;
color: #555;
}
.btn-wrapper {
display: block;
text-align: center;
}
.view-btn {
align-items: center;
width: 70%;
height: 40px;
border: none;
background-color: #FF4500;
color: #fff;
font-size: 16px;
cursor: pointer;
margin-top:30px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px ;
border-top-left-radius: 5px;
border-top-right-radius:5px;
}
.view-btn:hover {
box-shadow: 0 3px 6px rgba(0,0,0,.4);
}

.light-box {
position: fixed;
left: 0;
top: 0;
background-color: rgba(0,0,0,.6);
width: 100%;
height: 100vh;
z-index: 99;
opacity: 0;
visibility: hidden;
transition: all 200ms ease-out;
}
.box {
width: 600px;
height: 400px;
background-color: #fff;
transform: scale(0);
transition: all 200ms ease-in-out;
padding: 10px;
box-shadow: 0 3px 9px rgba(0,0,0,.1);
position: relative;
}
.box-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
padding: 15px;
}
.box .light-img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.box .close-btn {
position: absolute;
z-index: 100;
font-size: 30px;
color: #ccc;
left: 100%;
top: 0;
border: 2px solid #ccc;
border-radius: 50%;
display: block;
width: 40px;
height: 40px;
text-align: center;
line-height: 35px;
margin-left: 10px;
cursor: pointer;
transition: all 200ms linear;
}
/* Effect */
.effect .light-box {
opacity: 1;
visibility: visible;
}
.effect .light-box .box {
transform: scale(1);
}

credit {
font-size: 14px;
}

.img-mentor{
position: absolute;
width: 80px;
height: 80px;
margin-top:110px;
margin-left: -5px;
}


.svg-down{
display: none;
width: 6px;
}

.svg-up{
display: none;
width:6px;
}

.list-price{
margin-top:40px;
margin-left: -90px;
}

/* end list course */

/* pagination */
pagination{
margin-top:55px;
}
.pagination,
.page-numbers {
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}

.pagination {
margin-top: 60px;
}

.btn-nav,
.btn-page {
border-radius: 50%;
background-color:#DCDCDC;
cursor: pointer;
}

.btn-nav {
padding: 8px;
}

.btn-nav {
width: 42px;
height: 42px;
border: 1px solid #585858;
color: black;
}

.btn-nav:hover,
.btn-page:hover {
background-color:blue;
color: #fff;
}

.btn-page {
border: none;
width: 36px;
height: 36px;
font-size: 16px;
}

.btn-selected {
background-color: #FF4500;
color: #fff;
}

/* end pagination */


/* tablet */
@media (max-width: 780px) {

.card {
  flex-basis: 50%;
}
.title {
  font-size: 30px;
}

.checked {
  display: none;
}

.h3-text:focus + .checked,
.svg-down:focus + .checked {
  display: flex;
}

 .view-btn{
  align-items: center;
  margin-left: -86px;
 }
.banner{
  display: none;
}nput

.option {
  display: block;
  margin-top: 200px;
  margin-right: 300px;
}
.select-input {
  margin-top: 3px;
  margin-left: -60px;
}
.custom-btn {
  width:500px;
}
.h3-text{
  font-size: 8px;
  font-weight: 1000;
  margin-left:5px;
  white-space: nowrap
}
.vertical-menu{
  margin-left:60px;
}
.checked{
  display:none;
}

.course{
  display: none;
}

.svg-down {
  display: block;
}

.card {
  flex-basis: 5100%;
  margin-left:-218px;
  margin-top: 7px;
}
.box .close-btn {
  margin-left: 0;
  left: 80%;
  top: -12%;
}
.content-left{
  margin-left: 16px;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.texttt {
  margin-left: 0;
  white-space: nowrap;
  font-size: 14px;
}
}
.field-select-checkboxes {
display: block;
}

.field-select-checkboxes1{
display: block;
}

.field-select-checkboxes2{
display: block;
}


.field-select-checkboxes3{
display: block;
}



/* mobile */
@media (max-width: 500px) {
.card {
  width:10%;
}
  .price{
   margin-left:0px;
   margin-top: -10px;
  }
  
.content{
  margin-left:3px;
}

.checked {
  display: none;
}

/* click  lĩnh vực*/
.field-select-checkboxes {
  display: none;
}
.field-select-checkboxes.active {
  display: block;
  margin-left: -10px;
}

.field-select-header{
  display: flex;
  margin-left: -10px;
}
/* End click lĩnh vực */

/* click trình độ */
.field-select-checkboxes1 {
  display: none;
}
.field-select-checkboxes1.active {
  display: block;
  margin-left: -10px;
}


.field-select-header1{
  display: flex;
  margin-left: -9px;
}
/* end click trình độ */

 /* click hình thức học */
 .field-select-checkboxes2 {
  display: none;
}
.field-select-checkboxes2.active {
  display: block;
  margin-left: -8px;
}




.field-select-header2{
  display: flex;
  margin-left: -2px;
}
/* end */

/* click hình khoảng giá */
.field-select-checkboxes3 {
  display: none;
}
.field-select-checkboxes3.active {
  display: block;
  margin-left: -8px;
}


.field-select-header3{
  display: flex;
  margin-left: -8px;
}
/* end */


 .view-btn{
  align-items: center;
  margin-left: -35px;
 }
.banner{
  display: none;
}nput

.option {
  display: block;
  margin-top: 200px;
  margin-right: 300px;
}
.select-input {
  margin-top: 3px;
  margin-left: -60px;
}
.custom-btn {
  width:380px;
  padding-left:20px;
  padding-right:20px;
}
.h3-text{
  font-size: 8px;
  font-weight: 1000;
  margin-left:5px;

  white-space: nowrap
}
.vertical-menu{
  margin-left:60px;
}
.checked{
  display:none;
}

.course{
  display: none;
}

.svg-down {
  display: block;
}

.svgg{
 margin-left: -6px;
}



.inner-wrapper {
  width: 100%;
  margin-left: 0;
}

.card {
  flex-basis: 80%;
  margin: 10px 4%;
}

.inner-card {
  margin-top: 0;
}

.img-wrapper img{
  margin-top:-25px;
}



.img-mentor{
 margin-left:5px;
 margin-top:89px;
}
.box .close-btn {
  margin-left: 0;
  left: 80%;
  top: -12%;
}
.content-left{
  margin-left: 16px;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.texttt {
  margin-left: 0;
  white-space: nowrap;
  font-size: 14px;
}
}

/* end responsive mobile */

